.mainItemContainer {
    transition: 0.5s;
    margin:5px 0 5px 0;
    background-color: #694D2F33;
    border-radius: 5px;
}

.mainItemTitleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #694D2F;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    transition: .5s;
}
.sitePics {
    display: flex;
    position: absolute;
    right: 70px;
}
.sitePics img{
    height:40px;
    width: 60px;
    border-radius:3px;
    margin-left:1em;

}

.mainItemTitleWrapper:hover , .subItemTitleWrapper:hover, .link:hover {
    opacity: 0.9;
    /*transition: .3s;*/
    color:orange;
}

.subItemContainer {
    margin-bottom:0.5em;
    padding-left: 2em;
}
.subItemContainer:last-child, .plainItemContainer:last-child {
    margin-bottom:0;
}

.subItemTitleWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #8C663C;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    transition: .2s;
}

.subDroplistContainer {
    padding: 0.5em 0;
}

.itemTitle, .plainItemTitle {
    font-size: 16px;
    width: 100%;
    font-weight: 400;
}

.link:visited {
    color: black;
}

.plainItemContainer{
    padding: 1em 2.5em 1em 2em;
    background-color: #f7f3e3;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: .5s;
    margin: 0 1em 1em 1em;
}
.plainItemTitleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plainItemText {
    color: #696969;
}

/*.fb {*/
/*    background-image: url('../../../img/github.svg');*/
/*    composes: contactsIcons;*/
/*}*/

/*.contactsIcons {*/
/*    height: 32px;*/
/*    width: 32px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    margin-right: 10px;*/
/*    transition: .2s;*/
/*    background-size: cover;*/
/*    opacity: .3;*/
/*}*/

@media (max-width: 480px) {
    .mainItemTitleWrapper {
        padding: 10px;
    }

    .mainItemTitle {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .sitePics{
        display:none;
    }
}

